# PYTHON OPERATORS

## A. PYTHON ARITHMETIC OPERATORS

- <h3><span style="color:blue">ADDITION</span>.</h3>

In [1]:
x = 5
y = 3
print(x + y)

8

- <h3><span style="color:blue">SUBTRACTION</span>.</h3>

In [3]:
print(x - y)

2

- <h3><span style="color:blue">MULTIPLICATION</span>.</h3>

In [4]:
print(x * y)

15

- <h3><span style="color:blue">DIVISION</span>.</h3>

In [5]:
print(x / y)

1.6666666666666667

- <h3><span style="color:blue">MODULUS</span>.</h3>

In [6]:
print(x % y)

2

- <h3><span style="color:blue">EXPONENTIATION</span>.</h3>

In [7]:
print(x ** y)

125

- <h3><span style="color:blue">FLOOR DIVISION</span>.</h3>

In [8]:
print(x // y)

1

## B. PYTHON ASSIGNMENT OPERATOR

In [9]:
x = 5
print(x)

5

In [11]:
x = 5
x += 3
print(x)

8

In [12]:
x = 5
x -= 3
print(x)

2

In [13]:
x = 5
x *= 3
print(x)

15

In [15]:
x = 5
x /= 3
print(x)

1.6666666666666667

In [16]:
x = 5
x %= 3
print(x)

2

In [17]:
x = 5
x **= 3
print(x)

125

In [18]:
x = 5
x //= 3
print(x)

1

In [21]:
x = 5
x &= 3
print(x)

1

In [22]:
x = 5
x |= 3
print(x)

7

In [23]:
x = 5
x ^= 3
print(x)

6

In [24]:
x = 5
x >>= 3
print(x)

0

In [25]:
x = 5
x <<= 3
print(x)

40

## C. PYTHON COMPARISON OPERATORS

- <h3><span style="color:blue">EQUAL</span>.</h3>

In [27]:
x = 5
y = 3
print(x == y) #karena x tidak sama dengan y

False

- <h3><span style="color:blue">NOT EQUAL</span>.</h3>

In [28]:
print( x!=y)

True

- <h3><span style="color:blue">Greater than</span>.</h3>

In [30]:
print(x > y)

True

- <h3><span style="color:blue">Less than</span>.</h3>

In [31]:
print(x < y)

False

- <h3><span style="color:blue">Greater than or equal to</span>.</h3>

In [32]:
print(x >= y)

True

- <h3><span style="color:blue">Less than or equal to</span>.</h3>

In [34]:
print(x <= y)

False

## D. PYTHON LOGICAL OPERATORS

- <h3><span style="color:blue">AND</span>.</h3>

In [36]:
x = 5
print(x > 3 and x < 10)

True

Bernilai benar, apabila semua kondisinya benar

- <h3><span style="color:blue">OR</span>.</h3>

In [37]:
x = 5
print(x>3 or x<4)

True

bernilai benar, jika ada salah satu kondisi yang benar

- <h3><span style="color:blue">NOT</span>.</h3>

In [38]:
x = 5
print(not(x>3 and x<10))

False

## E. PYTHON IDENTITY OPERATORS

- <h3><span style="color:blue">IS</span>.</h3>

In [40]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

Returns True if a sequence with the specified value is present in the object

- <h3><span style="color:blue">IS NOT</span>.</h3>

In [42]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

Returns True if both variables are not the same object

## PYTHON MEMBERSHIP OPERATORS

- ### IN

In [43]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

Returns True if a sequence with the specified value is present in the object

- ### NOT IN

In [44]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

Returns True if a sequence with the specified value is not present in the object

## PYTHON BITWISE OPERATORS

In [46]:
print(5 & 3)

1

In [47]:
print(5 | 3)

7

In [48]:
print(5 ^ 3)

6

In [49]:
print(5 >> 3)

0

In [50]:
print(5 << 3)

40

In [51]:
print(~5)

-6